<html>
<style>
.main-footer{
  position: fixed;
  bottom: 0;
  left:2px;
  align-content:center;
  width: 100%;
}
.main-footer {
	font-family: "lucdia Console", monospace;
	background-color: rgb(196, 214, 242);
	text: white;
	text-align: center;
	font-size: 15px;
}

.main-footer small {
	color: red;
	font-size: 30 px;
}

.main-footer small a {
	color: rgb(0, 255, 21);
	font-size: 20 px;
}
</style>
<body>

	<footer class="main-footer">
		<h3>Copyright &copy; 2020 Ubrain technology</h3>
		<p>all right reserved</p>
		<small> Developed by uday <a href="#"> <i
				class="fa fa-user-circle"></i>
		</a>
		</small>

	</footer>
</body>
</html>